
body{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-gap: 1em;
}
button{
    border: 1px solid black;
    height: 8em;
    width:15em;    
    margin:2em;
    text-align: center;
    font-size: 2em;
   
}
#redc{   
    background-color: red;
}
#bluec{
    background-color: blue;
}
#greenc{
    background-color: green;
}

